.layout-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  .sider-container {
    overflow: auto;
    height: 100vh;
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    z-index: 2;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
}
.layout-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  .main-container {
    margin: 24px;
    flex: 1;
  }
}
