.sider-container {
  // overflow: hidden;
  // min-height: 100vh;
  // position: fixed;
  // inset-inline-start: 0;
  // top: 0;
  // bottom: 0;
  // scrollbar-width: thin;
  // scrollbar-color: unset;

  // flex: 0 0 200px;
  // max-width: 200px;
  // min-width: 200px;
  // width: 200px;
}
// .sider-container-collapsed {
//   flex: 0 0 80px;
//   max-width: 80px;
//   min-width: 80px;
//   width: 80px;
// }
.layout-container {
  // margin-inline-start: 200px;
  :global {
    .ant-layout-sider-children {
      height: 100vh;
    }
  }
  #popup-container {
    margin: 90px 20px 58px 20px;
    min-height: calc(100vh - 160px);
  }
}
.layout-container-collapsed {
  // margin-inline-start: 80px;
}
